.top-27{
  margin-top: 27px !important;
}


.card-style{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #fffdfd;
}
.star {
  position: relative;
  display: inline-block;
  font-size:22px !important;
  color: #d3d3d3;
}
.card-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.col-black {
  color: black;
}
.full {
  color: rgb(96, 236, 68);
  font-size: 22px !important;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: rgb(96, 236, 68);
  font-size: 22px !important;
}

.star {
  position: relative;
  display: inline-block;
  font-size:22px !important;
  color: #d3d3d3;
}
.full {
  color: rgb(96, 236, 68);
  font-size: 22px !important;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: rgb(96, 236, 68);
  font-size: 22px !important;
}

.card-foot{
  height: 90px !important;
  word-break: break-word !important;
 }
