
.collapsible {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  background-color: #093002;;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #0e3a06;;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
.card-img{
  height: 180px;
}
:host/deep/.card-text{
  font-size: 12px;
  margin-top: -19px;
  word-wrap: break-word !important;
  color: black;
}
