.content-add-section h1 {
  margin: 0;
  color: #000;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 6px;
}

.pad-0 {
  padding: 0;
}

.content-add-section p {
  margin: 0;
  color: #000;
  padding-top: 5px;
  opacity: 0.8;
  font-size: 15px;
  padding-bottom: 30px;
}


.content-add-section {
  padding: 0px;
  padding-bottom: 12px;
  padding-left: 100px;
  width: 100%;
  color: #918c8c;
  overflow: hidden;
  margin-bottom: 30px;
  background: #f3f0f0;

}

.content-add-section.new-width {
  padding-left: 258px;
  /* -webkit-transform: translate3d(0, 0, 0); */
  /* -moz-transform: translate3d(0, 0, 0); */
  /* -ms-transform: translate3d(0, 0, 0); */
  /* -o-transform: translate3d(0, 0, 0); */
  /* transform: translate3d(0, 0, 0); */
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.content-add-section h1 {
  padding-top: 0px;
  font-size: 24px;
}
.content-add-section {
  padding-left: 22px;
}
